---
import type { HTMLAttributes } from "astro/types";
import Button from "../ui/button/Button.astro";
import Icon from "../ui/icon/Icon.astro";
import type { iconPaths } from "../ui/icon/IconPaths";
import Link from "../ui/link/Link.astro";
import Nav from "../ui/nav/Nav.astro";
import NavLink from "../ui/nav/NavLink.astro";
import Logo from "../ui/svg/Logo.astro";
import styles from "./MobileMenu.module.css";

type Props = HTMLAttributes<"div"> & {
  textLinks: { label: string; href: string }[];
  iconLinks: { label: string; href: string; icon: keyof typeof iconPaths }[];
};

const {
  class: className = "",
  textLinks,
  iconLinks,
  style = {},
  ...props
} = Astro.props as Props;

const inlineStyle = typeof style === "object" ? style : null;
---

<div class={styles.menu} style={{ ...inlineStyle }} {...props}>
  <header class={styles.header}>
    <div class={styles.padding}>
      <Link
        slot="mobile-menu-head"
        href="/"
        class="logo-link"
        title="Home Page"
      >
        <Logo />
      </Link>
      <Button
        data-action="close-drawer"
        class:list={styles.close}
        variant="ghost"
      >
        <Icon icon="x" size="24px" />
        <span class="sr-only">Close Menu</span>
      </Button>
    </div>
  </header>
  <div class={styles.content}>
    <Nav class={styles.nav}>
      <NavLink href="#services">Servicios</NavLink>
      <NavLink href="#about">Sobre mi</NavLink>
      <NavLink href="#resources">Recursos</NavLink>
      {
        textLinks.map(({ label, href }) => (
          <NavLink
            aria-current={Astro.url.pathname === href}
            class:list={[
              "link",
              {
                active:
                  Astro.url.pathname === href ||
                  (href !== "/" && Astro.url.pathname.startsWith(href)),
              },
            ]}
            href={href}
          >
            {label}
          </NavLink>
        ))
      }
    </Nav>
  </div>
  <div class={styles.footer}>
    <div class={styles.padding}>
      <div class={styles.socials}>
        {
          iconLinks.map(({ href, icon, label }) => (
            <Link href={href} class="social">
              <span class="sr-only">{label}</span>
              <Icon icon={icon} size="2em" />
            </Link>
          ))
        }
      </div>
    </div>
  </div>
</div>
