---
import type { CollectionEntry } from "astro:content";

import { CardFooter, CardImage, CardTitle } from "~/components/ui/card";
import Link from "~/components/ui/link/Link.astro";

import { mergeCategories } from "./utils";

import styles from "./Article.module.css";

type Props = CollectionEntry<"portfolio"> & {
  class?: string;
};

const { class: className = "", ...post } = Astro.props;
---

<article
  transition:animate="slide"
  class:list={[styles.item, styles.itemHover, className]}
  data-categories={mergeCategories(post.data.categories)}
  data-background={post.data.background}
  data-color={post.data.color}
>
  <Link href={`/portfolio/${post.slug}/`}>
    <div class={styles.card}>
      <CardImage
        class={styles.image}
        width={720}
        height={344}
        src={post.data.preview}
        aria-hidden="true"
        asCover
      >
        <CardFooter class:list={[styles.footer, styles.opacity]}>
          {post.data.draft && "draft"}
          <CardTitle class={styles.title}>{post.data.title}</CardTitle>
        </CardFooter>
      </CardImage>
    </div>
  </Link>
</article>
