---
import ElementAsBackground from "~/components/ui/background/AsBackground.astro";
import Viewport from "~/components/ui/viewport/Viewport.astro";

import Estrella1SVG from "~/components/ui/svg/assets/Estrellas.astro";
import Estrella2SVG from "~/components/ui/svg/assets/Estrellas2.astro";
import OndaEstelar1SVG from "~/components/ui/svg/assets/OndaEstelar-1.astro";
import OndaEstelar2SVG from "~/components/ui/svg/assets/OndaEstelar-2.astro";
import OndaEstelar3SVG from "~/components/ui/svg/assets/OndaEstelar-3.astro";
import Planeta1SVG from "~/components/ui/svg/assets/Planeta1.astro";
import Planeta2SVG from "~/components/ui/svg/assets/Planeta2.astro";
import Planeta3SVG from "~/components/ui/svg/assets/Planeta3.astro";
import Planeta4SVG from "~/components/ui/svg/assets/Planeta4.astro";
import Planeta5SVG from "~/components/ui/svg/assets/Planeta5.astro";
import Rainbow from "~/components/ui/svg/Rainbow.astro";

import { t } from "~/i18n/translate";
import styles from "./MainHero.module.css";
---

<div class={styles.hero}>
  <div>
    <div class={styles.orbit}>
      <ElementAsBackground>
        <Estrella1SVG class={styles.estrella1} aria-hidden="true" />
        <Estrella2SVG class={styles.estrella12} aria-hidden="true" />
        <OndaEstelar1SVG class={styles.ondaEstelar1} aria-hidden="true" />
        <OndaEstelar2SVG class={styles.ondaEstelar2} aria-hidden="true" />
        <OndaEstelar3SVG class={styles.ondaEstelar3} aria-hidden="true" />
        <Planeta1SVG class={styles.planeta1} aria-hidden="true" />
        <Planeta2SVG class={styles.planeta2} aria-hidden="true" />
        <Planeta3SVG class={styles.planeta3} aria-hidden="true" />
        <Planeta4SVG class={styles.planeta4} aria-hidden="true" />
        <Planeta5SVG class={styles.planeta5} aria-hidden="true" />
      </ElementAsBackground>
    </div>
  </div>
  <div class={styles.content}>
    <hgroup>
      <Viewport variant="desktop">
        <h1 class={styles.title}>
          <span class:list={[styles["text1"], styles.animationScale]}
            >{t("HERO.TITLE.HEADLINE1")}</span
          >
          <span class:list={[styles.headline, styles.animationScale]}>
            <span class:list={[styles.text2, styles.animationScale]}
              >{t("HERO.TITLE.HEADLINE2")}</span
            >
            <span>
              <Rainbow
                src="/assets/rainbow.svg"
                aria-hidden="true"
                class={styles.rainbowSVG}
              />
            </span>
            <span class:list={[styles.text3, styles.animationScale]}
              >{t("HERO.TITLE.HEADLINE3")}</span
            >
          </span>
        </h1>
      </Viewport>
      <Viewport variant="desktop-hidden">
        <span>
          <Rainbow
            src="/assets/rainbow.svg"
            aria-hidden="true"
            class={styles.rainbowSVG}
          />
        </span>
        <h1 class={styles.title}>
          <span class={styles["text-0"]}>{t("HERO.TITLE.HEADLINE1")}</span>
          <span class={styles.headline}>
            <span class={styles.headlineText1}>{t("HERO.TITLE.HEADLINE2")}</span
            >
            <span class={styles.headlineText2}>{t("HERO.TITLE.HEADLINE3")}</span
            >
          </span>
        </h1>
      </Viewport>
    </hgroup>
  </div>
</div>
