---
import ElementAsBackground from "~/components/ui/background/AsBackground.astro";
import Background from "~/components/ui/background/Background.astro";

import Planeta6SVG from "../ui/svg/assets/Planeta6.astro";
import Planeta7SVG from "../ui/svg/assets/Planeta7.astro";
import Planeta8SVG from "../ui/svg/assets/Planeta8.astro";
import Planeta9SVG from "../ui/svg/assets/Planeta9.astro";
import styles from "./Planets.module.css";
---

<div id="planets" class={styles.planets}>
  <Background class={styles.star1} url="/assets/estrellas3.svg">
    <Background class={styles.star2} url="/assets/estrellas4.svg">
      <ElementAsBackground>
        <!-- <Estrellas3 class="estrella3" aria-hidden="true" />
        <Estrellas4 class="estrella4" aria-hidden="true" /> -->
        <Planeta6SVG class={styles.planeta6} aria-hidden="true" />
        <Planeta7SVG class={styles.planeta7} aria-hidden="true" />
        <Planeta8SVG class={styles.planeta8} aria-hidden="true" />
        <Planeta9SVG class={styles.planeta9} aria-hidden="true" />
      </ElementAsBackground>
    </Background>
  </Background>
</div>
