---
import Button from "../ui/button/Button.astro";
import Card, {
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardImage,
  CardTitle,
} from "../ui/card";
import Center from "../ui/center/Center.astro";
import Container from "../ui/container/Container.astro";
import Grid from "../ui/grid/Grid.astro";
import WindowControllers from "../ui/svg/WindowControllers.astro";
import Title from "../ui/text/Title.astro";

import PalmGrid from "~/components/ui/svg/assets/PalmGrid.astro";

import { t } from "~/i18n/translate";
import styles from "./Resources.module.css";
---

<div class={styles.descargables}>
  <PalmGrid class={styles["palm-grid"]} aria-hidden={true} />
  <Container>
    <Center variant="all">
      <Title
        id="descargables"
        class={styles.title}
        as="h2"
        variant="primary"
        align="center"
      >
        {t("RESOURCES.TITLE")}
      </Title>
    </Center>
    <Grid>
      <Card as="article" class={styles.card} shadow={true}>
        <CardHeader class={styles.cardCustomHeader} aria-hidden="true">
          <WindowControllers class={styles.fakeWindowController} />
          <Center>
            <CardImage aria-hidden="true" src={t("RESOURCES.0.image")} />
          </Center>
        </CardHeader>
        <CardContent>
          <CardTitle id="abrir-plantilla" aria-describedby="descargables">
            {t("RESOURCES.0.title")}
          </CardTitle>
          <CardDescription>{t("RESOURCES.0.description")}</CardDescription>
        </CardContent>
        <CardFooter>
          <Center>
            <Button
              as="a"
              href={t("RESOURCES.0.link.href")}
              no-referrer="true"
              target="_blank"
              width="full-width"
              size="md"
              aria-describedby="abrir-plantilla"
            >
              {t("RESOURCES.0.link.title")}
            </Button>
          </Center>
        </CardFooter>
      </Card>
      <Card as="article" class={styles.card} shadow={true}>
        <CardHeader class={styles.cardCustomHeader} aria-hidden="true">
          <WindowControllers class={styles.fakeWindowController} />
          <Center>
            <CardImage src={t("RESOURCES.1.image")} />
            <!-- <CardImage
              src="https://public-files.gumroad.com/excd36deld2agw2v0goy5173icb6"
            /> -->
          </Center>
        </CardHeader>
        <CardContent>
          <CardTitle id="planner-anual">{t("RESOURCES.1.title")}</CardTitle>
          <CardDescription>{t("RESOURCES.1.description")}.</CardDescription>
        </CardContent>
        <CardFooter>
          <Center>
            <Button
              as="a"
              href={t("RESOURCES.1.link.href")}
              no-referrer="true"
              target="_blank"
              width="full-width"
              size="md"
              aria-describedby="planner-anual"
            >
              {t("RESOURCES.1.link.title")}
            </Button>
          </Center>
        </CardFooter>
      </Card>
      <Card as="article" class={styles.card} shadow={true}>
        <CardHeader class={styles.cardCustomHeader} aria-hidden="true">
          <WindowControllers class={styles.fakeWindowController} />
          <Center>
            <CardImage src={t("RESOURCES.2.image")} />
          </Center>
        </CardHeader>
        <CardContent>
          <CardTitle id="guia-color">{t("RESOURCES.2.title")}</CardTitle>
          <CardDescription>
            {t("RESOURCES.2.description")}
          </CardDescription>
        </CardContent>
        <CardFooter>
          <Center>
            <Button
              as="a"
              href={t("RESOURCES.2.link.title")}
              no-referrer="true"
              target="_blank"
              width="full-width"
              size="md"
              aria-describedby="guia-color"
            >
              {t("RESOURCES.2.link.title")}
            </Button>
          </Center>
        </CardFooter>
      </Card>
    </Grid>
  </Container>
</div>
