---
import Button from "../ui/button/Button.astro";
import CardContent from "../ui/card/components/CardContent.astro";
import CardDescription from "../ui/card/components/CardDescription.astro";
import CardFooter from "../ui/card/components/CardFooter.astro";
import CardHeader from "../ui/card/components/CardHeader.astro";
import CardImage from "../ui/card/components/CardImage.astro";
import CardTitle from "../ui/card/components/CardTitle.astro";
import Center from "../ui/center/Center.astro";
import Container from "../ui/container/Container.astro";
import Grid from "../ui/grid/Grid.astro";
import Title from "../ui/text/Title.astro";

import PalmsSVG from "~/components/ui/svg/assets/Palms.astro";
import SunSVG from "~/components/ui/svg/assets/Sun.astro";
import MountainsSVG from "../ui/svg/assets/Mountains.astro";

import { t, tObject } from "~/i18n/translate";
import WindowCard from "../ui/card/components/WindowCard.astro";
import styles from "./Resources.module.css";

const data = [
  tObject("RESOURCES.0"),
  tObject("RESOURCES.1"),
  tObject("RESOURCES.2"),
];
---

<div class={styles.mountainContainer}>
  <SunSVG class={styles.sun} aria-hidden="true" />
  <MountainsSVG class={styles.mountains} />
</div>
<div class={styles.resources}>
  <Container>
    <Center variant="all" style="position:relative;margin-bottom:3.5rem">
      <PalmsSVG class={styles.palm} aria-hidden={true} />
      <Title
        id="resources"
        class={styles.title}
        as="h2"
        variant="primary"
        align="center"
      >
        {t("RESOURCES.TITLE")}
      </Title>
    </Center>
    <Grid columns="three" style="margin-bottom:2.5rem">
      {
        data.map((item) => (
          <WindowCard as="article" class={styles.card} shadow={true}>
            <CardHeader aria-hidden="true">
              <Center>
                <CardImage
                  aria-hidden="true"
                  src={item.image}
                  fetchpriority="low"
                />
              </Center>
            </CardHeader>
            <CardContent style="margin-top: 1rem;margin-bottom:2em;">
              <CardTitle id="abrir-plantilla" aria-describedby="resources">
                {item.title}
              </CardTitle>
              <CardDescription>{item.description}</CardDescription>
            </CardContent>
            <CardFooter>
              <Center>
                <Button
                  asLink
                  href={item.link.href}
                  no-referrer="true"
                  target="_blank"
                  width="full-width"
                  size="md"
                  aria-describedby="abrir-plantilla"
                >
                  {item.link.title}
                </Button>
              </Center>
            </CardFooter>
          </WindowCard>
        ))
      }
    </Grid>
  </Container>
</div>
