---
import { SITE_TITLE } from "~/consts";
import Button from "./ui/button/Button.astro";
import Container from "./ui/container/Container.astro";
import Nav from "./ui/nav/Nav.astro";
import NavLink from "./ui/nav/NavLink.astro";

import styles from "./Footer.module.css";
import Center from "./ui/center/Center.astro";
import Icon from "./ui/icon/Icon.astro";
import Text from "./ui/text/Text.astro";

const today = new Date();
---

<footer class={styles.footer}>
  <Container>
    <div class={styles.grid}>
      {SITE_TITLE}
      <Nav>
        <NavLink href="#services">Servicios</NavLink>
        <NavLink href="#about">Sobre mi</NavLink>
        <NavLink href="#resources">Recursos</NavLink>
      </Nav>
      <div style={{ display: "flex", justifyContent: "flex-end" }}>
        <Button
          variant="link"
          href="mailto:fiebredg@hotmail.com"
          title="Contact me fiebredg@hotmail.com"
          rel="noopener noreferrer"
        >
          <!-- <Mail /> -->
          <Icon icon="paper-plane-tilt" size="24px" />
          <span class={styles.label}>fiebredg@hotmail.com</span>
        </Button>
        <Button variant="link">
          <!-- <Linkedin /> -->
          <Icon icon="linkedin-logo" size="24px" />
        </Button>
        <Button variant="link">
          <Icon icon="pinterest-logo" size="24px" />
          <!-- <Pinterest /> -->
        </Button>
        <Button
          variant="link"
          href="https://www.instagram.com/fiebre.creativa/"
          title="My Instagram"
          rel="noopener noreferrer"
        >
          <Icon icon="instagram-logo" size="24px" />
          <!-- <Instagram /> -->
        </Button>
        <Button
          variant="link"
          href="https://www.behance.net/fiebre_creativa"
          title="My Behance portfolio"
          rel="noopener noreferrer"
        >
          <Icon icon="behance-logo" size="24px" />
          <!-- <Behance /> -->
        </Button>
      </div>
    </div>
    <Center style={{ marginTop: "2rem" }}>
      <Text size="sm">
        &copy; {today.getFullYear()} Fiebre. All rights reserved.
      </Text>
    </Center>
  </Container>
</footer>
