---
import { navigationLinks, SITE_TITLE, socialLinks } from "~/consts";
import Button from "./ui/button/Button.astro";
import Container from "./ui/container/Container.astro";
import Nav from "./ui/nav/Nav.astro";
import NavLink from "./ui/nav/NavLink.astro";

import styles from "./Footer.module.css";
import Center from "./ui/center/Center.astro";
import Icon from "./ui/icon/Icon.astro";
import Text from "./ui/text/Text.astro";

const today = new Date();
---

<footer class={styles.footer}>
  <Container>
    <div class={styles.grid}>
      {SITE_TITLE}
      <Nav>
        {
          navigationLinks.map((link) => (
            <NavLink href={link.href}>{link.label}</NavLink>
          ))
        }
      </Nav>
      <div class={styles.social}>
        {
          socialLinks.map((link) => (
            <Button
              as="a"
              variant="link"
              target="_blank"
              href={link.href}
              title={link.title}
              rel={link.rel}
              aria-label={link.title}
            >
              <Icon icon={link.icon} size="24px" />
              <span class={styles.label}>{link.label}</span>
            </Button>
          ))
        }
      </div>
    </div>
    <Center style={{ marginTop: "2rem" }}>
      <Text size="sm">
        &copy; {today.getFullYear()} Fiebre. All rights reserved.
      </Text>
    </Center>
  </Container>
</footer>
