---
import MobileMenu from "./mobile-menu/MobileMenu.astro";
import Container from "./ui/container/Container.astro";
import Flex from "./ui/flex/Flex.astro";
import HeaderBase from "./ui/header/Header.astro";
import type { iconPaths } from "./ui/icon/IconPaths";
import Link from "./ui/link/Link.astro";
import Nav from "./ui/nav/Nav.astro";
import NavLink from "./ui/nav/NavLink.astro";
import Logo from "./ui/svg/Logo.astro";
import Viewport from "./ui/viewport/Viewport.astro";

import styles from "./Header.module.css";

import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";

/** Main menu items */
const textLinks: { label: string; href: string }[] = [
  { label: "Home", href: "/" },
  { label: "Servicios", href: "/#services" },
  { label: "Sobre mi", href: "/#about" },
  { label: "Recursos", href: "/#resources" },
  { label: "Portfolio", href: "/portfolio" },
];

/** Icon links to social media — edit these with links to your profiles! */
const iconLinks: {
  label: string;
  href: string;
  icon: keyof typeof iconPaths;
}[] = [
  { label: "Twitter", href: "https://twitter.com/me", icon: "twitter-logo" },
  { label: "Twitch", href: "https://twitch.tv/me", icon: "twitch-logo" },
  { label: "GitHub", href: "https://github.com/me", icon: "github-logo" },
  { label: "CodePen", href: "https://codepen.io/me", icon: "codepen-logo" },
  { label: "dribbble", href: "https://dribbble.com/me", icon: "dribbble-logo" },
  {
    label: "YouTube",
    href: "https://www.youtube.com/@me/",
    icon: "youtube-logo",
  },
];
---

<HeaderBase
  id="page-header"
  class={styles.header}
  data-class-sticky={styles.sticky}
  position="fixed"
  style={{ zIndex: 1 }}
>
  <Container>
    <Viewport variant="mobile">
      <Flex justify="between">
        <Link href="/" class="logo-link" title="Home Page">
          <Logo />
        </Link>
        <MobileMenu textLinks={textLinks} iconLinks={iconLinks} />
      </Flex>
    </Viewport>
    <Viewport variant="mobile-hidden">
      <Flex justify="between" align="center">
        <Link href="/" class="logo-link" title="Home Page">
          <span class="sr-only">{SITE_TITLE}</span>
          <Logo />
        </Link>
        <Nav class:list={[styles.navigation, "internal-links"]}>
          {
            textLinks.map(({ label, href }) => (
              <NavLink
                aria-current={Astro.url.pathname === href}
                class:list={[
                  "link",
                  {
                    active:
                      Astro.url.pathname === href ||
                      (href !== "/" && Astro.url.pathname.startsWith(href)),
                  },
                ]}
                href={href}
              >
                {label}
              </NavLink>
            ))
          }
        </Nav>
      </Flex>
    </Viewport>
  </Container>
</HeaderBase>

<script>
  const headerElement = document.getElementById("page-header");
  const handleScroll = () => {
    if (headerElement) {
      const sticky = headerElement.offsetTop;
      const stickyClassName = headerElement.getAttribute("data-class-sticky");
      if (window.scrollY > sticky) {
        headerElement.classList.add(stickyClassName || "");
      } else {
        headerElement.classList.remove(stickyClassName || "");
      }
    }
  };

  // When the user scrolls the page, execute handleScroll
  window.addEventListener("scroll", handleScroll);
</script>
