---
import MobileMenu from "./mobile-menu/MobileMenu.astro";
import Container from "./ui/container/Container.astro";
import Flex from "./ui/flex/Flex.astro";

import Link from "./ui/link/Link.astro";
import Nav from "./ui/nav/Nav.astro";
import NavLink from "./ui/nav/NavLink.astro";
import Logo from "./ui/svg/Logo.astro";
import Viewport from "./ui/viewport/Viewport.astro";

import styles from "./Header.module.css";

import { navigationLinks, SITE_TITLE, socialLinks } from "../consts";
import Button from "./ui/button/Button.astro";
import Icon from "./ui/icon/Icon.astro";

const { class: ClassName = "", sticky, ...props } = Astro.props;
---

<header
  class:list={[
    styles.header,
    {
      ["sticky-header"]: sticky,
    },
  ]}
  {...props}
>
  <Container>
    <Viewport variant="mobile">
      <Flex justify="between">
        <Link href="/" class="logo-link" title="Home Page">
          <Logo />
        </Link>
        <MobileMenu textLinks={navigationLinks} iconLinks={socialLinks} />
      </Flex>
    </Viewport>
    <Viewport variant="mobile-hidden">
      <div class={styles.headerColumns}>
        <div>
          <Link href="/" class="logo-link" title="Home Page">
            <span class="sr-only">{SITE_TITLE}</span>
            <Logo />
          </Link>
        </div>
        <Nav
          aria-label="Main"
          class:list={[styles.navigation, "internal-links"]}
        >
          {
            navigationLinks.map(({ label, href }) => (
              <NavLink href={href}>{label}</NavLink>
            ))
          }
        </Nav>
        <div class={styles.social}>
          {
            socialLinks.map((link) => (
              <Button
                asLink
                variant="link"
                target="_blank"
                href={link.href}
                title={link.title}
                rel={link.rel}
                aria-label={link.title}
              >
                <Icon icon={link.icon} size="24px" />
                <span class={styles.label}>{link.label}</span>
              </Button>
            ))
          }
        </div>
      </div>
    </Viewport>
  </Container>
</header>

<script>
  const headerElement = document.querySelector(".sticky-header") as HTMLElement;

  const handleScroll = () => {
    if (headerElement) {
      const sticky = headerElement.offsetTop;
      if (window.scrollY > sticky) {
        headerElement.classList.add("sticky");
      } else {
        headerElement.classList.remove("sticky");
      }
    }
  };

  // When the user scrolls the page, execute handleScroll
  window.addEventListener("scroll", handleScroll);
</script>

<style>
  .sticky-header {
    position: fixed;
    transition: all 250ms;
    z-index: 2;
  }

  .sticky {
    height: 3.5rem;
    background-color: hsl(var(--background) / 0.5);
    backdrop-filter: blur(1rem);
    z-index: 1;
  }
</style>
