---
import MobileMenu from "./mobile-menu/MobileMenu.astro";
import Container from "./ui/container/Container.astro";
import Flex from "./ui/flex/Flex.astro";
import type { iconPaths } from "./ui/icon/IconPaths";
import Link from "./ui/link/Link.astro";
import Nav from "./ui/nav/Nav.astro";
import NavLink from "./ui/nav/NavLink.astro";
import Logo from "./ui/svg/Logo.astro";
import Viewport from "./ui/viewport/Viewport.astro";

import styles from "./Header.module.css";

import { SITE_TITLE } from "../consts";

/** Main menu items */
const textLinks: { label: string; href: string }[] = [
  { label: "Servicios", href: "/#services" },
  { label: "Sobre mi", href: "/#about" },
  { label: "Recursos", href: "/#resources" },
  { label: "Portfolio", href: "/portfolio" },
];

/** Icon links to social media — edit these with links to your profiles! */
const iconLinks: {
  label: string;
  href: string;
  icon: keyof typeof iconPaths;
}[] = [
  { label: "Twitter", href: "https://twitter.com/me", icon: "twitter-logo" },
  { label: "Twitch", href: "https://twitch.tv/me", icon: "twitch-logo" },
  { label: "GitHub", href: "https://github.com/me", icon: "github-logo" },
  { label: "CodePen", href: "https://codepen.io/me", icon: "codepen-logo" },
  { label: "dribbble", href: "https://dribbble.com/me", icon: "dribbble-logo" },
  {
    label: "YouTube",
    href: "https://www.youtube.com/@me/",
    icon: "youtube-logo",
  },
];

const { class: ClassName = "", sticky, ...props } = Astro.props;
---

<header
  class:list={[
    styles.header,
    {
      ["sticky-header"]: sticky,
    },
  ]}
>
  <Container>
    <Viewport variant="mobile">
      <Flex justify="between">
        <Link href="/" class="logo-link" title="Home Page">
          <Logo />
        </Link>
        <MobileMenu textLinks={textLinks} iconLinks={iconLinks} />
      </Flex>
    </Viewport>
    <Viewport variant="mobile-hidden">
      <Flex justify="between" align="center">
        <Link href="/" class="logo-link" title="Home Page">
          <span class="sr-only">{SITE_TITLE}</span>
          <Logo />
        </Link>
        <Nav
          aria-label="Main"
          class:list={[styles.navigation, "internal-links"]}
        >
          {
            textLinks.map(({ label, href }) => (
              <NavLink href={href}>{label}</NavLink>
            ))
          }
        </Nav>
      </Flex>
    </Viewport>
  </Container>
</header>

<script>
  const headerElement = document.querySelector(".sticky-header") as HTMLElement;

  const handleScroll = () => {
    if (headerElement) {
      const sticky = headerElement.offsetTop;
      if (window.scrollY > sticky) {
        headerElement.classList.add("sticky");
      } else {
        headerElement.classList.remove("sticky");
      }
    }
  };

  // When the user scrolls the page, execute handleScroll
  window.addEventListener("scroll", handleScroll);
</script>

<style>
  .sticky-header {
    position: fixed;
    transition: all 250ms;
    z-index: 2;
  }

  .sticky {
    height: 3.5rem;
    background-color: hsl(var(--background) / 0.5);
    z-index: 1;
  }
</style>
