---
import ElementAsBackground from "~/components/ui/background/AsBackground.astro";
import Center from "~/components/ui/center/Center.astro";
import Viewport from "~/components/ui/viewport/Viewport.astro";

import styles from "./home/MainHero.module.css";
import Rainbow from "./ui/svg/Rainbow.astro";

import Estrella1SVG from "~/components/ui/svg/assets/Estrellas.astro";
import Estrella2SVG from "~/components/ui/svg/assets/Estrellas2.astro";
import OndaEstelar1SVG from "~/components/ui/svg/assets/OndaEstelar-1.astro";
import OndaEstelar2SVG from "~/components/ui/svg/assets/OndaEstelar-2.astro";
import OndaEstelar3SVG from "~/components/ui/svg/assets/OndaEstelar-3.astro";
import Planeta1SVG from "~/components/ui/svg/assets/Planeta1.astro";
import Planeta2SVG from "~/components/ui/svg/assets/Planeta2.astro";
import Planeta3SVG from "~/components/ui/svg/assets/Planeta3.astro";
import Planeta4SVG from "~/components/ui/svg/assets/Planeta4.astro";
import Planeta5SVG from "~/components/ui/svg/assets/Planeta5.astro";
---

<div class={styles.hero}>
  <div>
    <div class={styles.orbit}>
      <ElementAsBackground>
        <Center variant="all">
          <Estrella1SVG class={styles.estrella1} aria-hidden="true" />
        </Center>
      </ElementAsBackground>
      <ElementAsBackground>
        <Center variant="all">
          <Estrella2SVG class={styles.estrella12} aria-hidden="true" />
        </Center>
      </ElementAsBackground>
      <ElementAsBackground>
        <Center variant="all">
          <OndaEstelar1SVG class={styles.ondaEstelar1} aria-hidden="true" />
        </Center>
      </ElementAsBackground>
      <ElementAsBackground>
        <Center variant="all">
          <OndaEstelar2SVG class={styles.ondaEstelar2} aria-hidden="true" />
        </Center>
      </ElementAsBackground>
      <ElementAsBackground>
        <Center variant="all">
          <OndaEstelar3SVG class={styles.ondaEstelar3} aria-hidden="true" />
        </Center>
      </ElementAsBackground>
      <ElementAsBackground>
        <Planeta1SVG class={styles.planeta1} aria-hidden="true" />
        <Planeta2SVG class={styles.planeta2} aria-hidden="true" />
        <Planeta3SVG class={styles.planeta3} aria-hidden="true" />
        <Planeta4SVG class={styles.planeta4} aria-hidden="true" />
        <Planeta5SVG class={styles.planeta5} aria-hidden="true" />
      </ElementAsBackground>
    </div>
  </div>
  {/* <div class={styles.backdrop} /> */}
  <div class={styles.content}>
    <hgroup>
      <Viewport variant="desktop">
        <h1 class={styles.title}>
          <span class={styles["text-0"]}>Hagamos que la</span>
          <span class={styles.headline}>
            <span>magia</span>
            <span>
              <Rainbow
                src="/assets/rainbow.svg"
                aria-hidden="true"
                class={styles.rainbowSVG}
              />
            </span>
            <span>suceda</span>
          </span>
        </h1>
      </Viewport>
      <Viewport variant="desktop-hidden">
        <span>
          <Rainbow
            src="/assets/rainbow.svg"
            aria-hidden="true"
            class={styles.rainbowSVG}
          />
        </span>
        <h1 class={styles.title}>
          <span class={styles["text-0"]}>Hagamos que la</span>
          <span class={styles.headline}>
            <span class={styles.headlineText1}>magia</span>
            <span class={styles.headlineText2}>suceda</span>
          </span>
        </h1>
      </Viewport>
    </hgroup>
  </div>
</div>
