---
import { Image } from "astro:assets";

import ElementAsBackground from "~/components/ui/background/AsBackground.astro";
import Center from "~/components/ui/center/Center.astro";
import Viewport from "~/components/ui/viewport/Viewport.astro";

import styles from "./home/MainHero.module.css";
import Rainbow from "./ui/svg/Rainbow.astro";

import localEstrella1 from "../../public/assets/estrellas.svg";
import localEstrella2 from "../../public/assets/estrellas2.svg";
import localOndaEstelar1 from "../../public/assets/onda-estelar-1.svg";
import localOndaEstelar2 from "../../public/assets/onda-estelar-2.svg";
import localOndaEstelar3 from "../../public/assets/onda-estelar-3.svg";
import localPlaneta1 from "../../public/assets/planeta1.svg";
import localPlaneta2 from "../../public/assets/planeta2.svg";
import localPlaneta3 from "../../public/assets/planeta3.svg";
import localPlaneta4 from "../../public/assets/planeta4.svg";
import localPlaneta5 from "../../public/assets/planeta5.svg";
---

<div class={styles.hero}>
  <div>
    <div class={styles.orbit}>
      <ElementAsBackground>
        <Center variant="all">
          <Image
            class={styles.estrella1}
            src={localEstrella1}
            aria-hidden="true"
            alt="estrella"
          />
        </Center>
      </ElementAsBackground>
      <ElementAsBackground>
        <Center variant="all">
          <Image src={localEstrella2} aria-hidden="true" alt="estrella" />
        </Center>
      </ElementAsBackground>
      <ElementAsBackground>
        <Center variant="all">
          <Image
            src={localOndaEstelar1}
            aria-hidden="true"
            class={styles.ondaEstelar1}
            alt="onda estelar"
          />
        </Center>
      </ElementAsBackground>
      <ElementAsBackground>
        <Center variant="all">
          <Image
            src={localOndaEstelar2}
            aria-hidden="true"
            class={styles.ondaEstelar2}
            alt="onda estelar"
          />
        </Center>
      </ElementAsBackground>
      <ElementAsBackground>
        <Center variant="all">
          <Image
            src={localOndaEstelar3}
            aria-hidden="true"
            class={styles.ondaEstelar3}
            alt="onda estelar"
          />
        </Center>
      </ElementAsBackground>
      <ElementAsBackground>
        <Image
          src={localPlaneta1}
          aria-hidden="true"
          class={styles.planeta1}
          alt="planeta"
        />
        <Image
          src={localPlaneta2}
          aria-hidden="true"
          class={styles.planeta2}
          alt="planeta"
        />
        <Image
          src={localPlaneta3}
          aria-hidden="true"
          class={styles.planeta3}
          alt="planeta"
        />
        <Image
          src={localPlaneta4}
          aria-hidden="true"
          class={styles.planeta4}
          alt="planeta"
        />
        <Image
          src={localPlaneta5}
          aria-hidden="true"
          class={styles.planeta5}
          alt="planeta"
        />
      </ElementAsBackground>
    </div>
  </div>
  {/* <div class={styles.backdrop} /> */}
  <div class={styles.content}>
    <hgroup>
      <Viewport variant="desktop">
        <h1 class={styles.title}>
          <span class={styles["text-0"]}>Hagamos que la</span>
          <span class={styles.headline}>
            <span>magia</span>
            <span>
              <Rainbow
                src="/assets/rainbow.svg"
                aria-hidden="true"
                class={styles.rainbowSVG}
              />
            </span>
            <span>suceda</span>
          </span>
        </h1>
      </Viewport>
      <Viewport variant="desktop-hidden">
        <span>
          <Rainbow
            src="/assets/rainbow.svg"
            aria-hidden="true"
            class={styles.rainbowSVG}
          />
        </span>
        <h1 class={styles.title}>
          <span class={styles["text-0"]}>Hagamos que la</span>
          <span class={styles.headline}>
            <span class={styles["text-1"]}>magia</span>
            <span class={styles["text-2"]}>suceda</span>
          </span>
        </h1>
      </Viewport>
    </hgroup>
  </div>
</div>
