---
import type { CollectionEntry } from "astro:content";
import { ViewTransitions } from "astro:transitions";
import Container from "~/components/ui/container/Container.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";

import Back from "~/components/portfolio/Back.astro";
import Title from "~/components/ui/text/Title.astro";
import style from "./PortfolioDetail.module.css";

type Props = CollectionEntry<"portfolio">["data"];

const { title, description, pubDate, updatedDate, preview, background, color } =
  Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
  </head>

  <body
    style={{
      backgroundColor: background,
      color: color || "inherit",
    }}
  >
    <Header />
    <main>
      <article class={style.content} transition:name="article">
        <Container>
          <Back />
          <div class={style.prose}>
            <div class={style.title}>
              <div class={style.date}>
                {
                  updatedDate && (
                    <div class={style["last-updated-on"]}>
                      Last updated on <FormattedDate date={updatedDate} />
                    </div>
                  )
                }
              </div>
              <Title transition:name="title">
                {title}
              </Title>
            </div>
            <slot />
          </div>
          <Back />
        </Container>
      </article>
    </main>
    <Footer />
  </body>
</html>
