---
import type { CollectionEntry } from "astro:content";
import { ViewTransitions } from "astro:transitions";
import Container from "~/components/ui/container/Container.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import Back from "~/components/portfolio/Back.astro";
import Title from "~/components/ui/text/Title.astro";
import style from "./PortfolioDetail.module.css";

type Props = CollectionEntry<"portfolio">["data"];

const { title, description, preview, background, color } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description || ""} image={preview} />
    <ViewTransitions />
  </head>

  <body
    style={{
      backgroundColor: background,
      color: color || "inherit",
    }}
  >
    <Header />
    <main>
      <article class={style.content} transition:name="article">
        <Container>
          <Back />
          <div class={style.prose}>
            <div class={style.title}>
              <Title transition:name="title">
                {title}
              </Title>
            </div>
            <slot />
          </div>
          <Back />
        </Container>
      </article>
    </main>
    <Footer />
  </body>
</html>
