---
import { getCollection } from "astro:content";
import CustomGrid from "~/components/portfolio/CustomGrid.astro";
import Card, { CardFooter, CardImage, CardTitle } from "~/components/ui/card";
import Container from "~/components/ui/container/Container.astro";
import Section from "~/components/ui/section/Section.astro";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

import styles from "~/components/portfolio/Portfolio.module.css";
import Link from "~/components/ui/link/Link.astro";

const posts = (await getCollection("portfolio")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <Section id="portfolio" marginBottom>
        <Container>
          <CustomGrid>
            {
              posts.map((post) => (
                <article class:list={[styles.item, styles.itemHover]}>
                  <Link href={`/portfolio/${post.slug}/`}>
                    <Card class={styles.card}>
                      <CardImage
                        class={styles.image}
                        width={720}
                        height={344}
                        src={post.data.heroImage}
                        aria-hidden="true"
                        asCover
                      >
                        <CardFooter
                          class:list={[styles.footer, styles.opacity]}
                        >
                          <CardTitle class={styles.title}>
                            {post.data.title}
                          </CardTitle>
                        </CardFooter>
                      </CardImage>
                    </Card>
                  </Link>
                </article>
              ))
            }
          </CustomGrid>
        </Container>
      </Section>
    </main>
    <Footer />
  </body>
</html>

{
  /* <CardContent>
  <CardTitle class="title">{post.data.title}</CardTitle>
  <p class="date">
    <FormattedDate date={post.data.pubDate} />
  </p>
  <Button
    as="a"
    href={`/portfolio/${post.slug}/`}
    width="full-width"
  >
    More...
  </Button>
  </CardContent> */
}
